@media screen and (min-width: 905px) {
    .product {
        height: 45%;
        width: 28rem;
    }
    .products {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height: 60rem !important;
    }    
}